.header-container {
  height: 56px;
  background-color: #fdfdfd;
  border: 1px solid #d7d7d7;
  box-shadow: 0 0 4px rgb(202, 202, 202);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
  gap: 16px;
}
