.grid {
  display: grid;
  grid-template-columns: minmax(auto, 240px) 1fr;
  grid-template-rows: auto auto 1fr;
  height: 100vh;
  grid-template-areas:
    "header header"
    "sidebar recommended"
    "sidebar products";
}

.header-grid {
  grid-area: header;
}

.sidebar-grid {
  grid-area: sidebar;
}

.recommended-grid {
  grid-area: recommended;
  padding: 16px;
}

.products-grid {
  grid-area: products;
  padding: 16px;
}
