@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, Helvetica, Arial, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;

  --mint-color: #22d3c1;
  --mint-color-hover: #22d3c129;
  --mint-color-active: #22d3c17b;
}

body {
  background-color: #fafafa;
}
